<h2 class="title">Create an Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, class: "form-headings" %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, class: "form-headings" %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :usertype, class: "form-headings" %><br />
    <%= f.select :usertype, [ 'Manager', 'Developer', 'QA' ], :prompt => 'Select Role' %>
  </div>

  <div class="field">
    <%= f.label :password, class: "form-headings" %>
    
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :confirm_password, class: "form-headings" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Signup",class: "submit-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
