<!DOCTYPE html>
<html>
  <head>
    <title>BugzillaTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="extra-buttons nav-buttons">
    <% if current_user %>
      <%= link_to "Update Profile", edit_user_registration_path, class: "extra-links nav-links" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "extra-links nav-links" %>
      
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    
    <%= yield %>
  </body>
</html>
